<div id="<%= dom_id user %>">

<div class = "container my-5 userBG">
    <div class = "row">
      <div class="col-12 row">
        <img src= "<%= user.photo %>" class="col-6 py-2 userImage">
        <div class = "col-6 row py-5">
          <h3 class = "col-12"><%= user.name %></h3>
          <h4 class = "col-12">Number of posts:  <%= user.posts_counter %></h4>
        </div>
    </div>
  </div>
</div>
