<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class = "container my-5 py-5 userBG">
    <div class = "row">
      <div class="col-12 row">
          <h5 class="text-light">Comments</h5>
          <% @post.comments.each do |comment| %>
              <div>
                <span><%= @post.author.name %>:</span>
              <span><%= comment.text %></span>
            </div>
          <% end %>
    </div>  
  </div>
</div>
